In [2]:
import pandas as pd
from pandas import *
import numpy as np

In [3]:
#anemia diabetes high_blood_pressure sex smoking and final output class 'DEATH EVENT' are not to be discretized

In [4]:
d = read_csv("/content/heart_failure_clinical_records_dataset.csv")
print(d)

      age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0    75.0        0                       582  ...        0     4            1
1    55.0        0                      7861  ...        0     6            1
2    65.0        0                       146  ...        1     7            1
3    50.0        1                       111  ...        0     7            1
4    65.0        1                       160  ...        0     8            1
..    ...      ...                       ...  ...      ...   ...          ...
294  62.0        0                        61  ...        1   270            0
295  55.0        0                      1820  ...        0   271            0
296  45.0        0                      2060  ...        0   278            0
297  45.0        0                      2413  ...        1   280            0
298  50.0        0                       196  ...        1   285            0

[299 rows x 13 columns]

In [5]:
dnew = pd.DataFrame()
dold = pd.DataFrame

In [6]:
dnew['age_bins'] = pd.cut(x=d['age'], bins=[40.00, 56.50, 73.00, 95.00])

In [7]:
print(dnew)

         age_bins
0    (73.0, 95.0]
1    (40.0, 56.5]
2    (56.5, 73.0]
3    (40.0, 56.5]
4    (56.5, 73.0]
..            ...
294  (56.5, 73.0]
295  (40.0, 56.5]
296  (40.0, 56.5]
297  (40.0, 56.5]
298  (40.0, 56.5]

[299 rows x 1 columns]

In [8]:
dnew['age_by_ds'] = pd.cut(x=d['age'], bins=[39.00, 56.50, 73.00, 95.00], labels=['0', '1', '2'])

In [9]:
print(dnew)

         age_bins age_by_ds
0    (73.0, 95.0]         2
1    (40.0, 56.5]         0
2    (56.5, 73.0]         1
3    (40.0, 56.5]         0
4    (56.5, 73.0]         1
..            ...       ...
294  (56.5, 73.0]         1
295  (40.0, 56.5]         0
296  (40.0, 56.5]         0
297  (40.0, 56.5]         0
298  (40.0, 56.5]         0

[299 rows x 2 columns]

In [10]:
dnew['creatinine_phosphokinase_by_ds'] = pd.cut(x=d['creatinine_phosphokinase'], bins=[22.00, 806.80, 3158.20, 7861.00], labels=['0', '1', '2'])
dnew['ejection_fraction_by_ds'] = pd.cut(x=d['ejection_fraction'], bins=[13.00, 33.80, 40.40, 80.00], labels=['0', '1', '2'])
dnew['serum_sodium_by_ds'] = pd.cut(x=d['serum_sodium'], bins=[112.00, 134.00, 141.00, 148.00], labels=['0', '1', '2'])
dnew['serum_creatinine_by_ds'] = pd.cut(x=d['serum_creatinine'], bins=[0.49, 1.39, 4.06, 9.40], labels=['0', '1', '2'])
dnew['platelets_by_ds'] = pd.cut(x=d['platelets'], bins=[25099.00, 190080.00, 355060.00, 850000.00], labels=['0', '1', '2'])
dnew['time_by_ds'] = pd.cut(x=d['time'], bins=[3.99, 116.40, 172.60, 285.00], labels=['0', '1', '2'])

In [11]:
dnew['age_by_ds'] = dnew['age_by_ds'].astype(int)
dnew['creatinine_phosphokinase_by_ds'] = dnew['creatinine_phosphokinase_by_ds'].astype(int)
dnew['ejection_fraction_by_ds'] = dnew['ejection_fraction_by_ds'].astype(int)
dnew['serum_sodium_by_ds'] = dnew['serum_sodium_by_ds'].astype(int)
dnew['serum_creatinine_by_ds'] = dnew['serum_creatinine_by_ds'].astype(int)
dnew['platelets_by_ds'] = dnew['platelets_by_ds'].astype(int)
dnew['time_by_ds'] = dnew['time_by_ds'].astype(int)
dnew['time_by_ds'].dtypes

dtype('int64')

In [12]:
dnew['DeathL'] = d['DEATH_EVENT']

In [15]:
print(dnew)

         age_bins  age_by_ds  ...  time_by_ds  DeathL
0    (73.0, 95.0]          2  ...           0       1
1    (40.0, 56.5]          0  ...           0       1
2    (56.5, 73.0]          1  ...           0       1
3    (40.0, 56.5]          0  ...           0       1
4    (56.5, 73.0]          1  ...           0       1
..            ...        ...  ...         ...     ...
294  (56.5, 73.0]          1  ...           2       0
295  (40.0, 56.5]          0  ...           2       0
296  (40.0, 56.5]          0  ...           2       0
297  (40.0, 56.5]          0  ...           2       0
298  (40.0, 56.5]          0  ...           2       0

[299 rows x 9 columns]

In [14]:
dnew.to_csv("/content/discretised_dataset.csv")